.titulo1{
	font-family: sans-serif ;
	color: #27B7B3;
	font-size: 30px;
	text-align: center;
}
.subtitulo1{
	font-family: sans-serif ;
	color: #1C3736;
	font-size: 15px;
	text-align: left;
}